<style>
.window:
{
background color:"gray";
font-color:"blue";
}
.new 
 { background:{
"orange";
}
icon{
background 
:{" grey "
}
</style>
<json>
 .new 
{
background: "violet"
font-size: 25;
}
</json>